@font-face {
  font-family: 'Bebas Neue';
  src: url("../fonts/BebasNeue-Regular.woff2") format("woff2"), url("../fonts/BebasNeue-Regular.woff") format("woff"); }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff"); }

body {
  margin: 0;
  font-family: 'Open Sans';
  font-size: 14px;
  color: #ffffff; }

ul {
  list-style: none;
  padding: 0; }

.container {
  font-family: 'Bebas Neue'; }

h2,
h3,
h4 {
  font-family: 'Bebas Neue';
  font-weight: 400; }

h2 {
  font-size: 33px; }

h4 {
  font-size: 18px;
  color: #ffbf48;
  margin: 0; }

.category {
  font-size: 18px; }

@media (min-width: 768px) {
  h2 {
    font-size: 55px; }
  .category {
    font-size: 24px; } }

.masthead {
  position: relative; }

.masthead__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 16px;
  position: absolute;
  width: 100%; }

.masthead__container > img {
  width: 33px;
  height: 33px;
  margin-block-start: -5px; }

.masthead__option {
  background-color: transparent;
  border: none;
  color: #ffffff;
  margin-inline-start: 148px;
  margin-block-start: -16px;
  text-transform: uppercase;
  font-weight: bold; }

.label_menu {
  color: transparent; }

.label_menu::before {
  content: url("../img/menu.svg");
  margin-inline-end: -15px;
  margin-inline-start: 16px;
  margin-block-start: -16px; }

.header__navigation {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -280px;
  width: 250px;
  z-index: 1;
  background-color: white; }

[type="checkbox"] {
  display: none; }

[type="checkbox"]:checked ~ .header__navigation {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 250px;
  z-index: 1;
  background-color: #000000;
  transform: translateX(0); }

.header__list_item {
  padding-block-start: 32px;
  margin-inline-start: 32px; }

.header__link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: white; }

@media (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .masthead__container > img {
    width: 55px;
    height: 55px; }
  .label_menu {
    display: none; }
  .header__heading {
    display: none; }
  .header__navigation {
    position: absolute;
    display: inline-table;
    background-color: transparent;
    left: 0;
    width: 0; }
  .header__navigation_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-inline-start: 321px; }
  [type="checkbox"]:checked ~ .header__navigation {
    position: relative;
    background-color: transparent;
    width: 0;
    z-index: 0; }
  .header__list_item {
    margin-block-start: -16px;
    margin-inline-start: 32px; }
  .masthead__option {
    margin-inline-end: 246px;
    margin-block-start: 8px;
    background-color: black; }
  .deu {
    color: #ffbf48; } }

.main__header {
  background-image: url("../img/first-background-copy.jpg");
  background-repeat: no-repeat;
  background-position: 30% 50%;
  background-size: cover;
  padding-block-start: 179px;
  text-align: center;
  font-family: 'Bebas Neue'; }

.main__heading {
  font-size: 33px; }

.main__description_text {
  font-size: 18px;
  margin-inline-start: 56px;
  margin-inline-end: 56px; }

.main__button {
  background-color: #ffbf48;
  border: none;
  border-radius: 5px;
  margin-block-end: 174px;
  padding: 16px;
  font-weight: bold; }

.main__text_history {
  margin-inline-end: 225px;
  margin-block-end: 0; }

.main__text_icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-block-end: 49px; }

.main__icons {
  margin-block-start: -16px; }

@media (min-width: 768px) {
  .main__heading {
    font-size: 80px;
    margin-block-start: 400px;
    margin-block-end: 0; }
  .main__description_text {
    font-size: 24px;
    margin-block-start: 0; }
  .main__text_history {
    margin-inline-start: 216px; }
  .main__icons {
    display: none; } }

.section_sos {
  background-image: url("../img/bg image 2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

.section_sos__header {
  border-bottom: 2px solid;
  margin-inline-start: 16px; }

.section_sos__header > .container {
  font-family: 'Bebas Neue';
  display: flex;
  flex-direction: column-reverse;
  margin-inline-start: -5px;
  margin-inline-end: 34px; }

.sectoon_sos__heading {
  margin-block-start: 0; }

.section_sos__category {
  font-size: 18px;
  margin-block-end: 0; }

.section_sos__container {
  margin-inline-start: 36px;
  margin-inline-end: 14px;
  margin-block-start: 26px;
  margin-block-end: 51px; }

.images_container {
  position: relative;
  top: 0;
  left: 0;
  padding-block-end: 64px;
  margin-inline-start: 6px; }

.image1 {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 32px; }

.image2 {
  position: absolute;
  z-index: 2;
  top: 10px;
  left: 75px; }

.image3 {
  position: relative;
  z-index: 1;
  top: 20px;
  left: 90px; }

.section_sos__content > span {
  border-bottom: 3px solid #ffbf48; }

.features {
  background-image: url("../img/bg image 3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top; }

.features > * {
  margin-inline-start: 115px; }

.features__header > .container {
  display: flex;
  flex-direction: column-reverse;
  padding-block-start: 81px; }

.features__heading {
  margin-block-start: 0; }

.features__category {
  margin-block-end: 0; }

.features__navigation_container {
  margin-block-end: 0; }

.features__lists {
  font-family: 'Bebas Neue';
  font-size: 21px;
  color: #ffbf48; }

.features__lists--last {
  padding-block-end: 72px;
  margin-block-end: 0; }

.system {
  background-image: url("../img/bg image 4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 16px; }

.system__header > .container {
  display: flex;
  flex-direction: column-reverse; }

.system__heading {
  margin-block-start: 0; }

.system__category {
  margin-block-start: 64px;
  margin-block-end: 0; }

.system__list_item {
  padding: 11px;
  border: 1px solid gray; }

.system__navigation--container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-block-end: 234px; }

.system__list_item--os {
  grid-row: 1 / 2;
  grid-column: 1 / 2; }

.system__list_item--processor {
  grid-row: 1 / 2;
  grid-column: 2 / 3; }

.system__list_item--menory {
  grid-row: 2 / 3;
  grid-column: 1 / 2; }

.system__list_item--storage {
  grid-row: 2 / 3;
  grid-column: 2 / 3; }

.system__list_item--graphics {
  grid-row: 3 / 4;
  grid-column: 1 / 3; }

.system__text {
  margin: 0; }

.quotes {
  background-image: url("../img/bg image 5.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 16px; }

.quotes__header > .container {
  display: flex;
  flex-direction: column-reverse; }

.quotes__heading {
  margin-block-start: 0; }

.quotes__category {
  margin-block-end: 0; }

.quotes__bttn {
  text-align: center;
  padding: 16px;
  background-color: #ffbf48;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  margin-inline-start: 56px;
  margin-block-start: 13px;
  margin-block-end: 30px; }

.quotes__lists_item {
  background-color: dimgrey;
  border-radius: 10px;
  margin: 16px;
  padding: 16px;
  background-image: url("../img/twitter-grey.svg");
  background-repeat: no-repeat;
  background-position: 235px 13px; }

.quotes__lists_item--aaron {
  margin-block-end: 80px; }

.quotes__activity {
  font-family: 'Open Sans';
  font-size: 14px;
  color: lightgray; }

.quotes__date {
  font-size: 12px;
  color: lightgray; }

.quotes__writer {
  margin-inline-start: 54px;
  margin-block-start: -48px; }

.quotes__lists_item--evan::before {
  content: url("../img/evan.png"); }

.quotes__lists_item--jada::before {
  content: url("../img/jada.png"); }

.quotes__lists_item--aaron::before {
  content: url("../img/aaron.png"); }

.newsletter {
  background-image: url("../img/newsletter.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-color: black; }

.newsletter > * {
  margin-inline-start: 116px; }

.newsletter__header > .container {
  display: flex;
  flex-direction: column-reverse; }

.newsletter__heading {
  margin-block-start: 0;
  margin-block-end: 0; }

.newsletter__category {
  padding-block-start: 64px;
  margin-block-end: 0; }

.newsletter__form {
  margin-block-start: 47px;
  margin-inline-start: -100px;
  margin-inline-end: 16px;
  background-color: dimgrey;
  padding: 8px;
  border-radius: 5px; }

label {
  font-size: 12px;
  color: lightgray; }

#subscribe {
  background-color: transparent;
  border: none;
  color: #ffbf48; }

.newsletter__subscribe_bttn {
  padding: 16px;
  padding-inline-start: 105px;
  padding-inline-end: 105px;
  margin-block-end: 61px;
  margin-block-start: 20px;
  margin-inline-start: -100px;
  background-color: #ffbf48;
  border: none;
  border-radius: 5px; }

@media (min-width: 768px) {
  .newsletter {
    background-image: url("../img/Group 3.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 82px; }
  .newsletter__header,
  .newsletter__text_container {
    max-width: 1197px;
    margin-inline-start: auto;
    margin-inline-end: auto; }
  .newsletter__category {
    padding-block-start: 200px; }
  .newsletter__header,
  .newsletter__explanation {
    padding-inline-start: 675px; }
  .newsletter__explanation {
    margin-inline-start: -150px; }
  .newsletter__form {
    height: 32px;
    margin-inline-start: -148px;
    margin-block-start: 20px;
    padding-inline-end: 178px; }
  .form_container {
    display: flex;
    justify-content: space-between;
    margin-inline-start: 675px;
    padding-block-end: 142px; } }

.footer {
  font-family: 'Open Sans';
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: black;
  text-align: center; }

.footer__image > img {
  width: 50px;
  height: 50px;
  margin-block-start: 32px;
  margin-block-end: 42px; }

.footer__navigation_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-inline-end: 26px; }

.footer__list_item {
  margin-block-end: 21px; }

.footer__list_item--main {
  grid-column: 1 / 2;
  grid-row: 1 / 2; }

.footer__list_item--about {
  grid-column: 2 / 3;
  grid-row: 1 / 2; }

.footer__list_item--game {
  grid-column: 3 / 4;
  grid-row: 1 / 2; }

.footer__list_item--requirements {
  grid-column: 1 / 3;
  grid-row: 2 / 3; }

.footer__list_item--quotes {
  grid-column: 3 / 4;
  grid-row: 2 / 3; }

.footer__navigation_icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-bottom: 1px solid gray;
  margin-inline-start: 16px;
  margin-inline-end: 16px; }

.footer__list_icon {
  margin-block-end: 28px; }

.footer__list_icon--facebook {
  grid-column: 1 / 2;
  grid-row: 1 / 2; }

.footer__list_icon--twitter {
  grid-column: 2 / 3;
  grid-row: 1 / 2; }

.footer__list_icon--audio {
  grid-column: 3 / 4;
  grid-row: 1 / 2; }

.footer__list_icon--cursor {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  margin-block-start: 12px;
  margin-inline-start: 26px; }

.footer__list_icon--twitch {
  grid-column: 4 / 5;
  grid-row: 1/ 2; }

.footer__copyright {
  margin-block-start: 19px; }

.footer__copyright_text {
  font-size: 12px;
  color: gray;
  text-transform: lowercase; }

.footer__last_navigation {
  margin-block-start: 32px; }

.footer__last_navigation--container {
  padding-block-end: 63px; }

.footer__last_list_item {
  margin-block-start: 13px; }

@media (min-width: 768px) {
  .footer__containers {
    max-width: 1197px;
    margin-inline-start: auto;
    margin-inline-end: auto; }
  .footer__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    margin-block-end: 0; }
  .footer__navigation_container {
    display: flex;
    margin-block-start: -8px;
    margin-inline-end: 124px; }
  .footer__navigation {
    display: flex; }
  .footer__list_item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-inline-start: 32px;
    margin-block-start: 60px; }
  .footer__navigation_icons {
    display: flex;
    flex-direction: row;
    margin-block-start: 50px;
    border-bottom: none; }
  .footer__list_icon {
    margin-inline-start: 32px; }
  .footer__list_icon--cursor {
    margin-inline-start: -5px; }
  .footer__copyright {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .footer__last_navigation--container {
    display: flex;
    flex-direction: row;
    margin-block-start: -45px;
    margin-block-end: 0;
    padding-block-end: 45px; }
  .footer__last_list_item {
    margin-inline-start: 8px; } }
