body {
    margin: 0;
    font-family: 'Open Sans';
    font-size: 14px;
    // color: #ffffff;
}

// h2 {
//     font-size: 33px;
// }

ul {
    list-style: none;
    padding: 0;
}

.container {
    font-family: 'Bebas Neue';
}

h2,
h3,
h4 {
    font-family: 'Bebas Neue';
    font-weight: 400;
}