section {
    text-align: center;
    font-family: 'Bebas Neue';
    background-image: url('../img/angelina-jungle.png');

}

section > article {
    margin-block-start: 179px;
}

section > h2 {
    font-weight: bold;
    font-size: 33px;
}

section > article > div:nth-child(1) > p {
    font-weight: bold;
    font-size: 18px;
}

button {
    font-weight: bold;
    color: #1A1917;
    padding: 16px;
    background-color: #ffbf48;
    border: none;
    border-radius: 5px;
    margin-block-end: 175px;
}

select {
    background-color: transparent;
    border: none;
    color: #ffffff;
}


.history {
    padding-block-end: 57px;
    margin-inline-end: 235px;
}


.history::after {
    content: "";

}