.features {
    background-image: url("../img/bg\ image\ 3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

.features > * {
    margin-inline-start: 115px;
}

.features__header > .container {
    display: flex;
    flex-direction: column-reverse;
    padding-block-start: 81px;

}

.features__heading {
    margin-block-start: 0;
}

.features__category {
    margin-block-end: 0;
}

.features__container {
    position: relative;
}


.features__container summary::before {
    content: "";
    display: block;
    position: absolute;
    padding: 0.5rem;
    border: 1px solid white;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    // top: 0;
    left: 0;
}


.features__lists {
    font-family: 'Bebas Neue';
    font-size: 21px;
    color: #ffbf48;
    margin-inline-start: 48px;
    margin-block-start: 24px;
}

.features__lists::-webkit-details-marker {
    display: none;
    position: relative;
}

details:last-child {
    padding-block-end: 72px;
}


@media (min-width: 768px) {
    .features {
        background-image: url('../img/second-background-copy.png');
        background-position: center center;
    }
    
    .features > * {
        max-width: 1197px;
        // margin-inline-start: auto;
        margin-inline-end: auto;
        margin-inline-start: 797px;
    }

    .features__category {
        padding-block-start: 259px;
    }

    details:last-child {
        padding-block-end: 259px;
    }

    // .features__container summary::before {
    //     left: 750px;
    // }




    .features__lists--description {
        margin-inline-end: 370px;
    }
}


