.features {
    color: #ffffff;
    background-image: url("../img/bg\ image\ 3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.features > * {
    margin-inline-start: 115px;
}

.features__header > .container {
    display: flex;
    flex-direction: column-reverse;
    padding-block-start: 79px;

}

.features__heading {
    margin-block-start: 0;
}

.features__category {
    margin-block-end: 0;
}

.features__lists {
    color: #ffbf48;
}

.features__lists--last {
    padding-block-end: 72px;
}

