.main__header {
    background-image: url("../img/angelina-jungle.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-block-start: 179px;
    text-align: center;
    font-family: 'Bebas Neue';
}


.main__heading {
    font-size: 33px;
}

.main__description_text {
    font-size: 18px;
    margin-inline-start: 36px;
    margin-inline-end: 36px;
}

.main__button {
    background-color: #ffbf48;
    border: none;
    border-radius: 5px;
    margin-block-end: 174px;
    padding: 16px;
}

.main__text_history {
    margin-inline-end: 225px;
    margin-block-end: 0;
}

.main__text_icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-block-end: 49px;
}

.main__icons {
    margin-block-start: -16px;
}
