.section_sos {
    background-image: url("../img/bg\ image\ 2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


.section_sos__header {
    border-bottom: 2px solid;
    margin-inline-start: 16px;
}

.section_sos__header > .container {
    font-family: 'Bebas Neue';
    display: flex;
    flex-direction: column-reverse;
    margin-inline-start: -5px;
    margin-inline-end: 34px;
}

.sectoon_sos__heading {
    margin-block-start: 0;
}

.section_sos__category {
    font-size: 18px;
    margin-block-end: 0;
}

.section_sos__container {
    margin-inline-start: 36px;
    margin-inline-end: 14px;
    margin-block-start: 26px;
    margin-block-end: 51px;
}

.images_container {
    position: relative;
    top: 0;
    left: 0;
    padding-block-end: 64px;
    margin-inline-start: 6px;
}


.image1 {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 32px;
}

.image2 {
    position: absolute;
    z-index: 2;
    top: 10px;
    left: 75px;
}

.image3 {
    position: relative;
    z-index: 1;
    top: 20px;
    left: 90px;
}

.section_sos__content > span {
    border-bottom: 3px solid #ffbf48;
}