.section_sos {
    background-image: url("../img/bg\ image\ 2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}


.section_sos__header {
    border-bottom: 2px solid;
    margin-inline-start: 16px;
}

.section_sos__header > .container {
    font-family: 'Bebas Neue';
    display: flex;
    flex-direction: column-reverse;
    margin-inline-start: -5px;
    margin-inline-end: 34px;
}

.sectoon_sos__heading {
    margin-block-start: 0;
}

.section_sos__category {
    font-size: 18px;
    margin-block-end: 0;
}

.section_sos__container {
    margin-inline-start: 36px;
    margin-inline-end: 14px;
    margin-block-start: 26px;
    margin-block-end: 51px;
}

.images_container {
    margin: 0;
    padding: 0;
    position: relative;
    padding-bottom: calc(100% * 273 / 249);
    margin-inline-end: 4rem;
    margin-inline-start: 2rem;
    margin-inline-start: 6px;
}


.images_container div {
    margin-inline-start: 32px;
}

.figure1 {
    position: absolute;
    z-index: 3;
    left: 0;
    right: calc(100% * 24 / 249);
    transform: scale(1);
    padding-top: 0;
}

.figure2 {
    position: absolute;
    z-index: 2;
    padding-top: calc(100% * 12 / 249);
    left: calc(100% * 12 / 249);
    right: calc(100% * 12 / 249);
    transform: scale(calc((273 - 24) / 273));
}

.figure3 {
    position: absolute;
    z-index: 1;
    left: calc(100% * 24 / 149);
    padding-top: calc(100% * 12 / 249);
    right: 0;
    // height: 70%;
}


.image2 {
    // z-index: 2;
    position: absolute;
    top: 50%;
    left: 5%;
}

.image3 {
    z-index: 1;
    position: absolute;
    left: 0%;
}


.image1,
.image2,
.image3 {
    object-fit: cover;
    width: 100%;
    display: block;
}


.section_sos__content > span {
    border-bottom: 3px solid #ffbf48;
}

@media (min-width: 768px) {
    .section_sos {
        display: flex;
    }
    
    .section_sos > * {
        max-width: 1197px;
        margin-inline-start: auto;
        margin-inline-end: auto;
    }

    .section_sos__main {
        padding-block-end: 268px;
        margin-inline-start: 100px;
    }

    .section_sos__category {
        padding-block-start: 252px;
    }

    .section_sos__container {
        padding-block-end: 100px;
    }

    .section_sos__content {
        margin-inline-start: 150px;
    }

    .images_container {
        width: 100%;
        padding-block-end: 50px;
        margin-block-start: 201px;
        margin-inline-end: 100px;
    }



}