@font-face {
  font-family: 'Bebas Neue';
  src: url("../fonts/BebasNeue-Regular.woff2") format("woff2"), url("../fonts/BebasNeue-Regular.woff") format("woff"); }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff"); }

body {
  margin: 0;
  font-family: 'Open Sans'; }

h2 {
  font-size: 33px; }

ul {
  list-style: none;
  padding: 0; }

.masthead__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 16px;
  position: absolute;
  color: #ffffff; }

.masthead__container > img {
  width: 33px;
  height: 33px; }

.masthead__option {
  background-color: transparent;
  border: none;
  color: #ffffff;
  margin-inline-start: 148px;
  margin-block-start: -32px;
  text-transform: uppercase;
  font-weight: bold; }

.masthead__menu_link {
  text-decoration: none;
  visibility: hidden; }

.masthead__link::before {
  content: url("../img/menu.svg");
  margin-inline-end: -32px;
  margin-inline-start: 16px; }

.main__header {
  background-image: url("../img/angelina-jungle.png");
  background-repeat: no-repeat;
  padding-block-start: 179px;
  text-align: center;
  color: #ffffff;
  font-family: 'Bebas Neue'; }

.main__heading {
  font-size: 33px; }

.main__description_text {
  font-size: 18px;
  font-weight: bold;
  margin-inline-start: 36px;
  margin-inline-end: 36px; }

.main__button {
  background-color: #ffbf48;
  border: none;
  border-radius: 5px;
  margin-block-end: 174px;
  padding: 16px; }

.main__text_history {
  margin-inline-end: 225px;
  padding-block-end: 49px;
  margin-block-end: 0; }

.section_sos {
  background-image: url("../img/bg image 2.png");
  background-repeat: no-repeat;
  color: #ffffff; }

.section_sos__header {
  font-family: 'Bebas Neue';
  display: flex;
  flex-direction: column-reverse;
  margin-inline-start: 13px;
  margin-inline-end: 34px; }

.sectoon_sos__heading {
  margin-block-start: 0; }

.section_sos__category {
  font-size: 18px;
  margin-block-end: 0; }

.section_sos__container {
  margin-inline-start: 36px;
  margin-inline-end: 14px; }
