@font-face {
  font-family: 'Bebas Neue';
  src: url("../fonts/BebasNeue-Regular.woff") format("woff"), url("../fonts/BebasNeue-Regular.woff2") format("woff2"); }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2"); }

body {
  margin: 0;
  font-family: 'Open Sans';
  color: #ffffff; }

section > header > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 16px;
  margin-block-start: 0; }

section > header > div > img {
  width: 33px;
  height: 33px; }

a {
  text-decoration: none;
  visibility: hidden; }

.link::before {
  content: url("../img/menu.svg");
  margin-inline-end: -32px; }

section {
  text-align: center;
  font-family: 'Bebas Neue';
  background-image: url("../img/angelina-jungle.png"); }

section > article {
  margin-block-start: 179px; }

section > h2 {
  font-weight: bold;
  font-size: 33px; }

section > article > div:nth-child(1) > p {
  font-weight: bold;
  font-size: 18px; }

button {
  font-weight: bold;
  color: #1A1917;
  padding: 16px;
  background-color: #ffbf48;
  border: none;
  border-radius: 5px; }

select {
  background-color: transparent;
  border: none;
  color: #ffffff; }
