@font-face {
  font-family: 'Bebas Neue';
  src: url("../fonts/BebasNeue-Regular.woff") format("woff"), url("../fonts/BebasNeue-Regular.woff2") format("woff2"); }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2"); }

body {
  margin: 0;
  font-family: 'Open Sans'; }

.masthead__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 16px; }

.masthead__container > img {
  width: 33px;
  height: 33px; }

.masthead__text::after {
  content: ""; }

.masthead__link--menu {
  text-decoration: none;
  visibility: hidden; }

.masthead__link::before {
  content: url("../img/menu.svg");
  margin-inline-end: -32px; }
